@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;700&family=Skranji&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #cdd2c0;
    text-decoration: none;
}
body {
    background-image: url(../img/fondo2.jpg);
    font-family: 'Raleway', sans-serif;
}
main {
    margin-inline: 7rem;
    background-color: #cdd2c0;
}
ul {
    padding-left: 0;
    margin-bottom: 0;
}
/* Inicio Header */
header {
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo {
    width: 60px;
    height: auto;
  }
.navbar-brand {
      color: #cdd2c0;
      font-size: 2rem;
  }
.navbar {
    background-color: #495f41;
    font-family: Skranji;

  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  .nav-link {
      font-size: 1.2rem;
      color: #cdd2c0;
      padding-right: 0;
  }
  a:hover {
      text-decoration: underline;
      color: #181F1C;
  }
  .navbar-nav {
      gap: 1rem;
  }
  .container-fluid{
      align-items: center;
  }
/* Fin Header */

/* Inicio Index */
.noticia {
    display: flex;
    flex-direction: column;
    color: #091540;
    background-color: #cdd2c0;
    padding: 2rem 5rem;
}
.titulo {
    font-size: 3.5rem;
    font-weight: 700;
}
.bajada {
    font-size: 1.6rem;
    margin-block: 1rem;
    font-weight: 500;
}
.subtitulo{
    font-size: 1.8rem;
    margin-block: 1rem;
    font-weight: 500;
    text-decoration: underline;
}
.img-noticia {
    max-width: 900px;
    margin-bottom: 2rem;
    margin-inline: 9rem;
}
.cuerpo-noticia {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.mas-noticias {
    display: flex;
    background-color: #cdd2c0;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-inline: auto;
    gap: 1rem;
    flex-direction: column;
}
.noticias-extra {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.otro-titulo {
    font-size: 0.75rem;
    color: #181F1C;
}
/* Fin Index*/

/* Inicio Dinosaurios*/
.dino {
    display: flex;
    color: #091540;
    background-color: #cdd2c0;
    padding: 2rem 5rem;
    gap: 3rem;
}
.dino-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position:sticky;
    top: 95px;
    background-color: #2f603e;
    border-radius: 5%;
}
.dino-item {
    font-size: 1.3rem;
    padding: 0.5rem;
}
.dino-head {
    display: flex;
    gap: 1rem;
    max-width: 800px;
}
.dino-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.name-dino {
    font-size: 2.4rem;
    text-decoration: underline;
    font-weight: 700;
}
.dino-stats {
    list-style-type: square;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 500;
    list-style-position: inside;
}
.dino-img {
    object-fit: fill;
    width: 100%;

}
.dino-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.dino-title {
    font-size: 2rem;
}
/* Fin Dinosaurios*/

/*inicio especies*/
.animal {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.resumen {
    grid-area: nombre;
}
.nombre-animal {
    grid-area: animal;
    font-size: 4rem;
}
.intro-animal {
    grid-area: intro;
}
.imagenes {
    display: flex;
}
.animal-img {
 max-width: fit-content;
 max-height: 230px;
 margin-bottom: 1rem;
 margin-right: 1rem;
}
.acordeon {
    grid-area: acordeon;
}
.acordeon-item {
    max-height:none;
}
.dimensiones {
     display: grid;
     grid-template-columns: 1fr 2fr;
}
.col-2 {
    background-color: #4a4b47;
    padding-top: 1.5rem;

}
.links {
    position: sticky;
    top: 90px;
}
.name-lista {
    color: #cdd2c0;
}
.lista-animales {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: inside;
}
/*fin especies*/

/*Inicio museos*/
.card {
    padding: 1rem;
    -ms-grid-column-align: stretch;
}
.cartas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
/*Fin museos*/

/*inicio Suscripcion*/
.subs {
    background-color: #cdd2c0;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.sub-box {
    border: 3px solid #495f41;
    border-radius: 3%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
}
.suscripcion {
    background-color: #cdd2c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 500px;
}
.suscripcion.texto {
    font-size: 1.7rem;
}
.unete {
   max-width: fit-content;
   font-size: 1.5rem;
}
.input {
    width: fit-content;
}
/*Fin Suscripcion*/

/*Inicio Footer*/
.footer {
    text-align: center;
    position: static;
    background-color: #495f41;
    bottom: 0;
    font-family: 'Skranji', cursive;
    color: #cdd2c0;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
} 
.footer-icons {
    display: flex;
    gap: 1.5rem;
}
/*Fin Footer*/
@media (max-width: 1200px) {
    
    main {
        margin-inline: 2rem;
    }
    /*Inicio header*/
    .navbar-brand {
        font-size: 1.2rem;
    }
    .nav-link {
        font-size: 1rem;
    }
    /*Fin header*/
    /*Inicio index*/
    .titulo {
        font-size: 2.5rem;
    }
    .subtitulo {
        font-size: 1.4rem;
    }
    .cuerpo-noticia {
        font-size: 1rem;
    }
    .otro-titulo {
        font-size: 1rem;
    }
    /*Fin index*/
    /*Inicio dinosaurios*/
    .dino-head {
        flex-direction: column;
    }
    .dino-img {
        margin-bottom: 1rem;
    }
    .dino-item {
        font-size: 1rem;
    }
    /*Fin dinosaurios*/
    /*Inicio otras especies*/
    .imagenes {
        flex-direction: column;
        justify-content: center;
    }
    .animal-img {
        object-fit: scale-down;
    }
    /*Fin otras especies*/
}
@media (max-width: 992px){
   
    main {
        margin-inline: 2rem;
    }
    /*Inicio header*/
    header {
        position: static;
        padding-inline: 0;
    }
    .navbar {
        justify-content: space-between;
    }
    .container nav {
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand {
        font-size: 1.5rem;
        margin-right: 0;
    }
    .navbar-nav {
        gap: 0;
        padding: 0;
        margin: 0;
        margin-left: 1rem;
    }
    .nav-link{
        font-size: 1rem;
        justify-content: center;
    }
    .menu {
        justify-content: space-between;
    }
    /*Fin header*/
    /*Inicio index*/
    .titulo {
        font-size: 2.5rem;
    }
    .subtitulo {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .cuerpo-noticia {
        font-size: 1rem;
    }
    .noticia {
        padding: 1.5rem 2.5rem;
    }
    .img-noticia {
        margin-inline: 0rem;
    }
    .noticias-extra {
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .otra-noticia {
        width: 25rem;
    }
    .otro-titulo {
        font-size: 1rem;
    }
    /*Fin index*/
    .museos {
        margin-inline: 2rem;
    }
    .card {
        max-width: fit fit-content;
    }
    .container {
        max-width: fit-content;
    }
    .nombre-animal {
        font-size: 2.3rem;
    }
}
@media (max-width: 768px) {
    main {
        margin-inline: 0rem;
    }

    /*Inicio index*/
    .titulo {
        font-size: 1.5rem;
    }
    .bajada {
        font-size: 1.2rem;
    }
    .subtitulo {
        font-size: 1.2rem;
    }
    .noticia {
        padding: 0.8rem 1rem;
    }
    .mas-noticias {
        display: flex;
        flex-direction: column;
    }
    .otro-titulo {
        font-size: 16px;
    }
    /*Fin index*/

    .animales {
        padding-inline: 0;
    }
}

@media (max-width: 576px) {
    .noticias-extra {
        display: flex;
        flex-direction: column;
    }
}